@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* General Styles */


body {
    margin: 0;
    font-family: 'space grotesk';
    color: black;
    min-height: 100vh; 
    background: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* min-height: 100vh; Remove or adjust this based on content */
    border: 0.5px solid black;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    margin-left: 10px;
    display: block;
    font-size: 18px;
}

h1 {
    font-size: 70px;

}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    font-weight: 500;
    font-size: 50px;
    margin-right: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black; 
    border: none; 
    transition: background-color 0.3s ease; 
}

.project-item:hover {
    transform: translateY(-5px);
    
}


